[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-webhook = "*"
tenacity = "*"
pydantic = "*"
email-validator = "*"

[dev-packages]
boto3 = "*"
notebook = "*"
jupyter = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
