[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-webhook = "*"
tenacity = "*"
pydantic = "*"
email-validator = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
notebook = "*"
jupyter = "*"
pytest = "*"

[requires]
python_version = "3.9.0"
boto3 = "*"
python-dotenv = "*"